body{
    margin: 0px;
    font-family: Arial;
}
*{
    box-sizing: border-box;
}
.d1{
    background-color: rgba(206, 13, 13, 0.856);
    text-align: center;
    font-size: 17px;
    color: white;
    padding: 1px;
}
.d2{
    height: 90px;
    padding: 1px 5px;
}
#d2d1{
    float: left;
    width: 330px;
}
#d2d1>img{
    height: 80px;
    width: auto;
    float: left;
}
#d2d1>h1{
    margin-left: 85px;
    font-family: cursive;
}
#d2d2{
    float: left;
    margin-top: 20px;
    margin-left: 160px;
}
#s1{
    font-size: 17px;
    padding-left: 15px;
    border-radius: 20px;
    width: 600px;
    height: 45px;
}
#d2d3{
    margin-right: 20px;
    padding: 10px;
    float: right;
    font-size: 60px;
}
.d3{
    overflow: hidden;
    font-size: 27px;
    color: white;
    background-color: rgba(206, 13, 13, 0.856);
    text-align: center;
}
.d3>a{
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.d3>a:hover{
    background-color: rgb(255, 0, 0);
}

.tooltip {
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 50px;
    margin-left: 31%;
    position: relative;
    background-color: rgba(255, 0, 0, 0.322);
    display: inline-block;
  }
  
.tooltipchi1 {
    visibility: hidden;
    width: auto;
    background-color: rgba(247, 21, 21, 0.664);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -30px;
  }
  
.tooltipchi1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(247, 21, 21, 0.664) transparent;
  }
  .tooltipchi2 {
    visibility: hidden;
    width: auto;
    background-color: rgba(247, 21, 21, 0.664);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -30px;
  }
  
.tooltipchi2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:rgba(247, 21, 21, 0.664) transparent transparent  transparent;
  }
  .tooltipchi3 {
    visibility: hidden;
    width: auto;
    background-color: rgba(247, 21, 21, 1);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 110%;
    bottom: 18%;
  }
  
.tooltipchi3::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 35%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(247, 21, 21, 1) transparent  transparent;
  }
  .tooltipchi4 {
    visibility: hidden;
    width: auto;
    background-color: rgba(247, 21, 21, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    right: 110%;
    bottom: 18%;
    margin-left: -30px;
  }
  
.tooltipchi4::after {
    content: "";
    position: absolute;
    left: 110%;
    top: 35%;
    margin-left: -6px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent  transparent red;
  }
  
  .tooltip:hover .tooltipchi1 {
    visibility: visible;
  }
  .tooltip:hover .tooltipchi2 {
    visibility: visible;
  }
  .tooltip:hover .tooltipchi3 {
    visibility: visible;
  }
  .tooltip:hover .tooltipchi4 {
    visibility: visible;
  }

@media screen and (max-width:800px) {
    #d2d1{
        border: 1px solid black;
        width: 200px;
        height: 44px;
    }
    #d2d1>img{
        height: 40px;
    }
    #d2d1>h1{
        font-size: 20px;
        margin-left: 10px;
    }
    #d2d2{
        margin-top: 7px;
        margin-left: 50px;
    }
    #s1{
        font-size: 14px;
        width: 300px;
        height: 38px;
        border-radius: 17px;
    }
    #d2d3{
        margin-right: 5px;
        padding: 0px;
        font-size: 40px;
    }
    #d4d1{
        margin-left: 43px;
    }
}
@media screen and (max-width:450px) {
    #d2d1{
        float: none;
        width: auto;
    }
    #d2d1>img{
        margin-left: 90px;
    }
    #d2d1>h1{
        font-size: 25px;
        margin-top: 1px;
        margin-left: 135px;
    }
    #d2d2{
        float: none;
    }
    #d2d3{
        margin-right: 150px;
    }
    .d2{
        display: table;
        clear: both;
    }
    .d3{
        text-align: left;
    }
    .d3>a{
        font-size: 19px;
        text-align: left;
        padding: 10px 0px;
    }
    #d4d1{
        margin-left: 7px;
    }
}